In [7]:
#set up matplotlib for graphs
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

#set up dataframes
import numpy as np
import pandas as pd
import datetime as dt

#set up sqlalchemy
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

# Reflect Tables into SQLAlchemy ORM

In [3]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [4]:
Measurement = Base.classes.measurement
Station = Base.classes.station

In [5]:
session = Session(engine)

# Exploratory Precipitation Analysis

In [21]:
latest_date = session.query(func.max(func.strftime(Measurement.date))).all()
print(latest_date)

[('2017-08-23',)]

In [48]:
prev_12_prcp = session.query(Measurement.date, Measurement.prcp).\
    filter(func.strftime(Measurement.date) >= "2016-08-23").all()

prev_12_prcp_df = pd.DataFrame(prev_12_prcp, columns=['Date', 'Precipitation'])

prev_12_prcp_df.sort_values(by='Date', inplace = True)
prev_12_prcp_df.set_index('Date', inplace = True)
prev_12_prcp_df.head()

#prev_12_prcp_df.plot.bar()
#plt.tight_layout()
#plt.show()

            Precipitation
Date
2016-08-23            0.0
2016-08-23            NaN
2016-08-23           45.5
2016-08-23            1.3
2016-08-23            3.8

In [49]:
summary_stats = prev_12_prcp_df.describe()
summary_stats

       Precipitation
count    2021.000000
mean        4.505888
std        11.713487
min         0.000000
25%         0.000000
50%         0.500000
75%         3.300000
max       170.200000

# Exploratory Station Analysis

In [53]:
num_stations = session.query(Station.station).distinct().count()
print(num_stations)

9